<h1 id="h1-vlad-lozynskyi">Влад Лозинський - бекенд-розробник з великим досвідом</h1>
<h2 id="h2-welcome">Ласкаво прошу!</h2>
<h1 id="h1-portfolio">
  <%= link_to "Портфоліо", portfolio_path %>
</h1>
<p>_______<br>&copy; В.&nbsp;Лозинський, 2023</p>

