<div id="to-root">
  <%=  link_to "На головну сторінку | To main page", root_path %>
</div>
<h1>Мої контакти | Contacts</h1>
<h3>
  <%= link_to "Facebook", facebook_path, target: "_blank" %>
</h3>
<h3>
  <%= link_to "Telegram", telegram_path, target: "_blank" %>
</h3>
<h3>
  <%= link_to "GitHub", github_path, target: "_blank" %>
</h3>
