<div id="<%= dom_id project %>">

  <p>
    <strong>Роки виконання:</strong>
    <%= project.years %>
  </p>

  <p>
    <strong>Назва проєкту:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Посилання на проєкт:</strong>
    <%= project.href %>
  </p>

</div>